body {
  margin: 0;
  background: #070709;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}

h1, h2 {
  font-weight: 400;
  font-size: 3rem;
}

p {
  margin-top: 20px;
  opacity: 0.7;
}
